body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

 label {
    display: flex;
    flex-direction: column;
 }

 footer{
    width: 300px;
    margin-left: 200px;
 }

 .btn {
    background-color: rgb(240, 240, 240);
    width: 95px;
    padding: 1px 6px;
    border: 1px solid black;
    font-size: 14px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
 }

 .mt-5 {
    margin-top: 5px;
 }